<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="text-center">
        <h3>Customer Department User Interface</h3>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <a th:href="@{/home/find-all-customers}">
            <h3>Find All Customers</h3>
        </a>
    </div>

</div>

</body>
</html>
