<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container">
    <div class="text-center">
        <h3>Vehicle Department User Interface</h3>
    </div>
    <hr>
    <br>
    <div class="text-center">
        <a th:href="@{/home/find-all-vehicles}">
            <h3>Find all Vehicles</h3>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/home/find-vehicle-by-vin}">
            <h3>Find Vehicle by VIN</h3>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/home/find-vehicle-by-registration}">
            <h3>Find Vehicle by Registration Number</h3>
        </a>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/home/add-vehicle}">
            <h3>Create New Vehicle</h3>
        </a>
    </div>
</div>
</body>
</html>

